/* Fonts from Google Font */
@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Patrick+Hand&display=swap');

/* Override browsers default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background: #b62121;
}